body {
margin: 0;
}
header{
    
}
footer {
    background-color: #000000; 
    margin: 0;
    padding: 10px;
    border: 30px;
    height: 20%;
    font-family: sans-serif;
    margin-top: 0;
    color: white;
}
footer ol p{
    text-align: left ;
}
footer ol h3{
    text-align: left ;
    font-family: sans-serif;
}
footer div a{
    font-family: sans-serif;
    color:whitesmoke;
    text-decoration: none;
}
footer small{
    text-align: center;
    align-items: center;
}
