body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #87CEEB;
}

/* HEADER */
header {
    background-color: #2e8b57;
    color: white;
    padding: 20px;
    text-align: center;
}

/* LAYOUT */
.container {
    display: flex;
}

/* SIDEBAR */
aside {
    width: 200px;
    padding: 15px;
}

aside a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-weight: bold;
}

aside a:hover {
    color: yellow;
}

/* CONTEÚDO */
main {
    flex: 1;
    padding: 1%;
    margin-right: 15%;
}

article{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNuvw_-ftkN7COoGicBm4sCHp32yf3kajFU0Wlj_UI6c2PnjZEcyk1JX0A&s=10);
    background-attachment: fixed;
}

/* BANNER */
.banner {
    background-image: url("https://i.imgur.com/VX3KX6v.jpg");
    background-size: cover;
    height: 250px;
    border-radius: 10px;
}

/* CARDS */
.card {
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
}

/* QUADRADOS */
.area-quadrados {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.quadrado {
    width: 170px;
    height: 170px;
    background-color: #2e8b57;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 9%;
}

.quadrado img{
    width: 150px;
    height: 150px;
    border: 10px;
    border-radius: 10px;
}

.quadrado:hover {
    background-color: #3cb371;
    transform: scale(1.05);
}

/* FOOTER */
footer {
    background-color: #2e8b57;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
